﻿
@{ 
    Layout = null;
}


<html >
<head>
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/signup.css" rel="stylesheet" />
    <link href="~/content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signup.js"></script>
    <title></title>
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <div style="margin-bottom:50px" >
                    <img alt="Photo" src="~/content/user.png" id="myUploadedImg" style="width:200px" />
                </div>
                <div class="form-box">

                    <form action="login" method="Post">

                        <span id="fileselector" style="margin:0px">
                            <label class="btn btn-default" for="upload-file-selector" style="width:222px">
                                <input id="upload-file-selector" type="file"  >
                                @*<i class="fa_icon icon-upload-alt margin-correction"></i>*@upload file
                            </label>
                        </span>

                        <input type="text" placeholder="Login" name="login">
                        <input type="password" placeholder="Pass" name="pass">
                        <input id="rrr" placeholder="Pass" name="AvatarID" hidden>
                        <input type="submit" value="register" class="" />

                        @*<button class="btn btn-info btn-block login" type="submit">Connexion</button>*@
                    </form>
                </div>
            </div>
        </div>

    }


    <script>
        function sendFile(file) {

            var formData = new FormData();
            formData.append('file', $('#upload-file-selector')[0].files[0]);

            $.ajax({
                type: 'post',
                url: '../../fileUploader.ashx',
                data: formData,
                success: function (status) {
                    if (status != 'error') {

                        var str = "" + status;
                        var res = str.split("!");

                        var my_path = "../../MediaUploader/" + res[1];
                        $("#myUploadedImg").attr("src", my_path);
                        $("#rrr").val(res[0]);
                    }
                },
                processData: false,
                contentType: false,
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        }

    </script>

    <script>
        var _URL = window.URL || window.webkitURL;
        $("#upload-file-selector").on('change', function () {

            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    sendFile(file);
                };
                img.onerror = function () {
                    alert("Not a valid file:" + file.type);
                };
                img.src = _URL.createObjectURL(file);
            }
        });
    </script>

</body>
</html>


@*@model SocialNetwork.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/content/My.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
    <title>Create</title>
</head>
<body>
    <div class="My">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()           

            <div class="form-horizontal">
                <h4>User</h4>
                <img id="myUploadedImg" alt="Photo" style="width:300px;" />
                <form action="#">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" multiple class="upload" id="f_UploadImage">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pass, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AvatarID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AvatarID, new { htmlAttributes = new { @class = "form-control", @id = "rrr" } })
                        @Html.ValidationMessageFor(model => model.AvatarID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Return", "Index", "Home")
    </div>


    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
    <script>
        function sendFile(file) {

            var formData = new FormData();
            formData.append('file', $('#f_UploadImage')[0].files[0]);

            $.ajax({
                type: 'post',
                url: '../../fileUploader.ashx',
                data: formData,
                success: function (status) {
                    if (status != 'error') {

                        var str = "" + status;
                        var res = str.split("!");

                        var my_path = "../../MediaUploader/" + res[1];
                        $("#myUploadedImg").attr("src", my_path);
                        $("#rrr").val(res[0]);
                    }
                },
                processData: false,
                contentType: false,
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        }

    </script>

    <script>
        var _URL = window.URL || window.webkitURL;
        $("#f_UploadImage").on('change', function () {

            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    sendFile(file);
                };
                img.onerror = function () {
                    alert("Not a valid file:" + file.type);
                };
                img.src = _URL.createObjectURL(file);
            }
        });
    </script>

</body>

</html>*@





