﻿@model SocialNetwork.Models.User
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<html>
<head>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/content/signup.css" rel="stylesheet" />
    <script src="~/Scripts/signup.js"></script>
    <title></title>
</head>
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="login-container">
            <div id="output"></div>
            <div >
                <img src="~/content/welcome.gif" style="width:200px" alt="Alternate Text" />
            </div>
            <div class="form-box" >
                <form action="login" method="Post">
                 
                    <input type="text" placeholder="Login" name="login">
                    <input type="password" placeholder="Pass" name="pass">

                    <input type="submit" value="Login" class="bbb" style="margin-top:10px"/>
                    <div style="margin-top:10px">
                    @Html.ActionLink("Sign Up", "Create")


                    </div>
                    
                    @*<button class="btn btn-info btn-block login" type="submit">Connexion</button>*@
                </form>
            </div>
        </div>
    </div>

}

    
</body>
</html>






@*<br />
<br />
<br />
<br />    

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Sign Up","Create")
</div>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
