﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>


    <div class="container mycontainer">
        <div class="row my-nav">

            <div class="col s3">
                <nav style="background-color: #64b5f6;">
                    <div class="nav-wrapper ">
                        <ul>
                            <li> @Html.ActionLink("App name", "Index", "Home") </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col s6">
                <nav>
                    <div class="nav-wrapper">
                        <ul class="myul">
                            <li> @Html.ActionLink("Friends", "friends", "Home") </li>
                            <li> @Html.ActionLink("messages", "Index", "Conversations") </li>
                            <li> @Html.ActionLink("news", "Index", "Home") </li>
                            <li> @Html.ActionLink("Following", "Index", "Home") </li>
                            <li> @Html.ActionLink("Album", "Index", "Home") </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col s3">

                @* user data *@
                <nav>
                    <div class="nav-wrapper">
                        <ul>
                            <li> @Html.ActionLink("logOut", "logOut", "Users") </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row content" style="background-color:#e0f7fa">
            <div class="container" style="width:inherit"  id="rightbody">
                @RenderBody()
            </div>
            
        </div>


        






        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Amze</p>
        </footer>

    </div>

        <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>

</body>
</html>



@*<div class="container">
        <div class="row">
            <div class="col s12">
                <nav>
                    <div class="nav-wrapper ">
                        <ul>
                            <li style="background-color:yellowgreen">@Html.ActionLink("Apsdcsdcame", "Index", "Home")</li>
                            <li>@Html.ActionLink("App sname", "Index", "Home")</li>
                            <li>@Html.ActionLink("ame", "Index", "Home")</li>
                            <li>@Html.ActionLink("App ce", "Index", "Home")</li>
                            <li>@Html.ActionLink("Appscscsd", "Index", "Home")</li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>

    </div>*@