﻿@model Tuple< List<SocialNetwork.Models.User>,List<SocialNetwork.Models.User> >  



<div class="row">
    <div class="col s3" style="height:1000px">
        <h5> Friend requests</h5>
        @foreach (var item in Model.Item2)
        {
            <div class="row">
                <div class="col s9">
                    <p>
                        @item.Profiles.First().FirstName 
                        @item.Profiles.First().LastName
                    </p>
                </div>
                <div class="col s3">
                    <p>
                         @Html.ActionLink("add", "addToFriend", new { id = item.Id })
                    </p>
                </div>
            </div>
                       
            <hr />
        }
    </div>

    <div class="col s6">
        @using (Ajax.BeginForm("search", new AjaxOptions
        {
            UpdateTargetId = "friendlist",
            LoadingElementDuration = 1000
        }))
        {
            <p>
                <input name="name" type="text"/>
                <input type="submit" value="search internet" />
            </p>
        }

        <div id="friendlist">
           
        </div>

        <h5>Friend List</h5>

        @if (Model.Item1.Count == 0)
        {
            <h6>you friend list is empty</h6>
        }
        @foreach (var item in Model.Item1)
            {
            <table>
                <tr>

                    <td>
                        <img src="/../@item.File.Url" style="width:100px" />
                    </td>
                    <td> <h4>@item.Profiles.First().FirstName @item.Profiles.First().LastName </h4> </td>

                    <td>
                        @using(Html.BeginForm("Index", "Home",FormMethod.Post)) 
                        { 
                            <input name="id" value="@item.Id" hidden />  
                            <input type="submit" value="open" />  
                            
                        } 
                    </td>

                   

                </tr>
            </table>

        }
    </div>


</div>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>