﻿@model IEnumerable<SocialNetwork.Models.Post>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col s3">

        <img src="@ViewBag.image" class="avatar materialboxed" />
        <h3>@ViewBag.ProfileName</h3>
        <h3>@ViewBag.ProfileSurName</h3>

        @if (ViewBag.my == true)
        {
            using (Ajax.BeginForm("Edit", "Profile", new { uId = ViewBag.UserId }, new AjaxOptions
            {
                HttpMethod = "Get",
                UpdateTargetId = "results2",
                LoadingElementDuration = 1000
            }))
            {
                <p>
                    <input type="submit" value="Edit" />
                </p>
            }
            <div id="results2">

            </div>
        }
        else
        {
           @Html.ActionLink("send Message", "sendMessage", new {id = ViewBag.UserId, name = ViewBag.ProfileName })
        }

        <hr />

    </div>

    <div class="col s9">

        @if (ViewBag.my)
        {
            using (Ajax.BeginForm("Create", "Posts", new AjaxOptions
            {
                HttpMethod = "Get",
                UpdateTargetId = "results",
                LoadingElementDuration = 1000
            }))
            {

                <p>
                    <input type="submit" value="add new Post" />
                </p>
            }

            <div id="results">

            </div>
        }
        

        <div class="container" style="width:auto">

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col s12 ">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">@item.Title</span>
                                <p style="white-space: pre-line">
                                    @item.Text<br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <span class="blue-text text-darken-2">Welcome to my site</span>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>





<script >
    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
</script>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>



