﻿@model IEnumerable<SocialNetwork.Models.User>

@{
    Layout = null;
}


    <h5>Search result</h5>    
    <table class="table">
        <tr>
            <th>
                avatar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profiles.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profiles.First().LastName)
            </th>
            <th></th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr style="background-color:#f48fb1; padding:10px">
            <td>
                <img src="/../@item.File.Url" style="width:100px" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profiles.First().FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profiles.First().LastName)
            </td>
            <td>
               
                @Html.ActionLink("add to friends", "addToFriend", new { id = item.Id });
            </td>

            

        </tr>
    }
    
    </table>



