﻿body {
    padding-top: 20px;
    padding-bottom: 20px;
   background-size: 100%;
    background-image: url("bg12.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*me*/

.my-nav {
    margin-bottom:0px;
    height:80px;
}


.my-nav .col {
    height:inherit;
    padding: 0px;
}
    
.myul li{
    width: 20%;
    text-align:center;
}


nav {
    height: 80px;
    line-height: 80px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 80px;
    line-height: 80px;
}

nav .button-collapse i {
    height: 80px;
    line-height: 80px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}

.avatar {
    width:220px;
}

.content .container .row .s3{

   padding-top:11px;
   background-color: #f5f5f5;
   height:inherit;
}

.content .container .row{
    margin:0px;
}