﻿@model IEnumerable<SocialNetwork.Models.Message>
@{
    Layout = null;
}



<div class="row">
    <div class="col s8" >
        <div class="row"><h4>Chat</h4></div>
        @foreach (var item in Model)
        {
            <p style = "white-space: pre-line" >@Html.DisplayFor(modelItem => item.Text)</p>
        }

       <form action="Conversations/saveMessage" method="post">

            <textarea name="text" type="text"></textarea>
           <input name="convid" type="text" hidden  value="@ViewBag.convId"/>
            <input type="submit" value="send"/>

        </form>



    </div>

    <div class="col s4" style="background-color:red">
        @*<div class="row"><h4>Users</h4></div>

        <div class="row">
            @foreach (var item in ViewBag.users)
            {
                @item.User.Profiles.First().FirstName
            }

        </div>
        <div class="row">
            @Html.ActionLink("+", "")
        </div>*@

    </div>


</div>

