﻿@model IEnumerable<SocialNetwork.Models.Conversation>



<div class="row">
    <div class="col s3" style="height:500px">

        <div class="collection">

            @foreach (var item in Model)
            {
                using (Ajax.BeginForm("GetConversation", "Conversations", new { convId = item.Id }, new AjaxOptions
                {
                    HttpMethod = "Get",
                    UpdateTargetId = "conversation-results",
                    LoadingElementDuration = 1000

                },new { id= item.Name }))
                {
                    <input type="submit" value="@item.Name"  class="" style="width:200px"/>                   
                }

            }
        
            @*@using (Html.BeginForm("Create", "Conversations", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form >
                    <input type="text" name="name" placeholder="add new conversation" />
                    <input type="submit" value="Create" />
                </form>
            }*@

        </div>
    </div>
    <div class="col s9" style="padding-right: 0px; padding-left: 0px;">
        <div id="conversation-results">

            choose conversations
          
        </div>
    </div>


</div>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script type="text/javascript">
   $(document).ready(function(){
      $('.DeleteLink').click(function() {
         $(this).closest('form')[0].submit();
       });
   });
</script>




